.open-sans-bold {
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.navbar {
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-sizing: border-box;
}

.nav-title {
	color: #333;
	font-size: 60px;
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.nav-tabs {
    display: flex;
    gap: 20px;
}

.nav-tabs a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
	decoration: none;
}

.nav-tabs a:hover {
    color: #007bff;
}

.a1 {
	background-color: #f3d453;
	padding: 100px 20px;
	margin-top: 60px;
	border-bottom: 1000px solid #f3d453;
}

.a1 h1 {
	color: #333;
	font-size: 50px;
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.a1 p {
	color: #333;
	font-size: 25px;
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.a2 {
	background-color: #25ced0;
	padding: 100px 20px;
	border-bottom: 1000px solid #25ced0;
}

.a2 h1 {
	color: #333;
	font-size: 50px;
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.a2 p {
	color: #333;
	font-size: 25px;
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.a3 {
	background-color: #cd658e;
	padding: 100px 20px;
	border-bottom: 1000px solid #cd658e;
}

.a3 h1 {
	color: #333;
	font-size: 50px;
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.a3 p {
	color: #333;
	font-size: 25px;
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.members {
	background-color: #efa7ff;
	padding: 100px 20px;
	border-bottom: 1000px solid #efa7ff;
}

.members h1 {
	color: #333;
	font-size: 50px;
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.members p {
	color: #333;
	font-size: 25px;
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}