@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

.fredoka-semibold {
	font-family: "Fredoka", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	color: #333;
	font-variation-settings:
	"wdth" 100;
}

h1, h2, p {
	font-family: "Fredoka", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	color: #333;
	font-variation-settings:
	"wdth" 100;
}

.navbar {
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-sizing: border-box;
}

.nav-title {
	color: #333;
	font-size: 60px;
}

.nav-tabs {
    display: flex;
    gap: 20px;
}

.nav-tabs a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
	decoration: none;
}

.nav-tabs a:hover {
    color: #007bff;
}

.column2 a:hover {
    color: #007bff;
}

.a1 {
	background-color: #f3d453;
	padding: 100px 20px;
	border-bottom: 100px solid #f3d453;
}

.a1 h1 {
	font-size: 50px;
}

.a1 h2 {
	font-size: 35px;
}

.a1 p {
	color: #333;
	font-size: 25px;
}

.a2 {
	background-color: #25ced0;
	padding: 100px 20px;
	border-bottom: 100px solid #25ced0;
}

.a2 h1 {
	font-size: 50px;
}

.a2 h2 {
	font-size: 35px;
}

.a2 p {
	color: #333;
	font-size: 25px;
}

.a3 {
	background-color: #cd658e;
	padding: 100px 20px;
	border-bottom: 100px solid #cd658e;
}

.a3 h1 {
	font-size: 50px;
}

.a3 h2 {
	font-size: 35px;
}

.a3 p {
	color: #333;
	font-size: 25px;
}

.home {
	background-color: #bfff87;
	padding: 100px 20px;
	border-bottom: 100px solid #bfff87;
}

.home h1 {
	color: #333;
	font-size: 50px;
}

.home p {
	color: #333;
	font-size: 25px;
}

.columns {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 50px;
	margin: 0 auto;
}

.column1, .column2 {
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.column1 p {
    color: #333;
    font-size: 20px;
	margin: 5px 0;
}

.column2 a, p {
    color: #333;
    font-size: 20px;
	decoration: none;
	margin: 5px 0;
}

.image-style {
	width: 10%;
	max-width: 240px;
	height: auto;
}

.files {
	display: flex;
	gap: 50px;
	margin-bottom: 50px;
}

.files a {
	text-decoration: none;
	display: inline-flex;
}

.files .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #929396;
    backdrop-filter: blur(5px);
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.06, 0.76, 0.64, 1.69);
    cursor: pointer;	
}

.button:hover {
	scale: 1.1;
}

.presentation-video {
	width: 100%;
	max-width: 800px;
	border-radius: 10px;
	box-shadow: #333;
}