@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

.fredoka-semibold {
	font-family: "Fredoka", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

h1, h2, p {
	font-family: "Fredoka", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.navbar {
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-sizing: border-box;
}

.nav-title {
	color: #333;
	font-size: 60px;
}

.nav-tabs {
    display: flex;
    gap: 20px;
}

.nav-tabs a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
	decoration: none;
}

.nav-tabs a:hover {
    color: #007bff;
}

.column2 a:hover {
    color: #007bff;
}

.a1 {
	background-color: #f3d453;
	padding: 100px 20px;
	border-bottom: 300px solid #f3d453;
}

.a1 h1 {
	color: #333;
	font-size: 50px;
}

.a1 p {
	color: #333;
	font-size: 25px;
}

.a2 {
	background-color: #25ced0;
	padding: 100px 20px;
	border-bottom: 300px solid #25ced0;
}

.a2 h1 {
	color: #333;
	font-size: 50px;
}

.a2 p {
	color: #333;
	font-size: 25px;
}

.a3 {
	background-color: #cd658e;
	padding: 100px 20px;
	border-bottom: 300px solid #cd658e;
}

.a3 h1 {
	color: #333;
	font-size: 50px;
}

.a3 p {
	color: #333;
	font-size: 25px;
}

.home {
	background-color: #efa7ff;
	padding: 100px 20px;
	border-bottom: 300px solid #efa7ff;
}

.home h1 {
	color: #333;
	font-size: 50px;
}

.home p {
	color: #333;
	font-size: 25px;
}

.columns {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 50px;
	margin: 0 auto;
}

.column1, .column2 {
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.column1 p {
    color: #333;
    font-size: 20px;
	margin: 5px 0;
}

.column2 a, p {
    color: #333;
    font-size: 20px;
	decoration: none;
	margin: 5px 0;
}